*{
    margin:0;
    padding:0;
}
div {
    display:inline-block;
    max-width:48%;
    margin:1%
}
img{max-width:100%;}
main{
    max-width:884px;
    margin:0 auto;
}
h1{
    padding:1%;
    text-align:center
    
}
header{
    background-color:#8ca7c5;

    
}
footer{
    text-align:center;
    background-color: #8ca7c5;
    color:floralwhite;
}
nav ul{
    list-style: none;
    padding:1%;
    
}